<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!--这里写的路径是 设置的静态资源映射的路径，不是文件夹的相对路径-->
    <!--也就是app.addStaticPath("/static/**","./router-demo/static") 这设置的映射地址-->
    <link href="/static/css/style.css" rel="stylesheet"  type="text/css" >
</head>
<body>

        <fieldset class="bg">
            <legend>用户登录</legend>
            <div>
                <form action="/login"  method="post">
                    <pre>
                    用户名:<input type="text" name="username" value="<%=(typeof remindUser === 'undefined')?'':remindUser.username%>"  >

                    密  码:<input type="password"  name="password" value="<%=(typeof remindUser === 'undefined')?'':remindUser.password%>" >

                    记住我:<input type="checkbox" name="remind" value="remind"   >

                    <button>登录</button> <% if(msg!=null){%><span style="color:red;"><%=(typeof msg === 'undefined')?'':msg%></span> <%}%>

                    <a href="/register.html">没有账户，立即注册</a>
                    </pre>
                </form>
            </div>
        </fieldset>

</body>
</html>