<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>系统首页</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">


    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <script src="/static/bootstrap/js/jquery-1.10.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form class="form-horizontal" method="get" action="/user/login.html">
                <span class="heading">商品管理系统欢迎页面</span>
                <div class="form-group">
                    <h4 style="font-size: 16px; text-align: left">1:本系统用于学习交流.</h4>
                    <h4 style="font-size: 16px; text-align: left">2:教程参考:<a href="https://www.520java.com/">https://www.520java.com/</a>.</h4>
                    <h4 style="font-size: 16px; text-align: left">3:完整代码:<a href="https://github.com/i520java-jinge/nodejs-study">https://github.com/i520java-jinge/nodejs-study</a>.</h4>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">马上去体验！</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>s